.navigation-bar {
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

.key-val {
    display: grid;
    grid-template-columns: 150px 300px;
}

div.parameters {
    display: grid;
    border: none;
    grid-template-columns: 150px 50px;
    margin-bottom: 20px;
}

div.perfo {
    display: grid;
    border: 1px;
    grid-template-columns: 50px 50px 50px 50px;
    margin-bottom: 20px;
}

div.perfo div {
    border-style: solid;
    border-width: 1px;
}

div.perfo input {
    width: 100%;
    border-style: none;
    outline: none;
}

div.flightplan {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 150px;
    margin-left: 20px;
}

div.flightplan div {
    border-style: solid;
}

div.flightplan input {
    width: 100%;
    border-style: none;
    outline: none;
}

div.flightplan select {
    width: 100%;
    border-style: none;
    outline: none;
    background: none;
}

div.flightplan > div.type-header {
    border-width: 2px 2px 2px 2px;
}

div.flightplan > div.tt-header {
    border-width: 2px 1px 2px 0;
}

div.flightplan > div.dist-header {
    border-width: 2px 2px 2px 0;
}

div.flightplan > div.wind-header {
    grid-column-start: 4;
    grid-column-end: 6;
    border-width: 2px 2px 2px 0;
}

div.flightplan > div.alt-header {
    border-width: 2px 1px 2px 0;
}

div.flightplan > div.msa-header {
    border-width: 2px 2px 2px 0;
}

div.flightplan > div.et-header {
    border-width: 2px 2px 2px 0;
}

div.flightplan > div.action-header {
    border-style: none;
}

div.flightplan > div.action {
    grid-column-start: 1;
    grid-column-end: 9;
    border-width: 0 2px 0 2px;
}

div.flightplan > div.wp-type {
    border-width: 1px 2px 1px 2px;
}

div.flightplan > div.wp-name {
    grid-column-start: 2;
    grid-column-end: 6;
    border-width: 1px 2px 1px 0;
}

div.flightplan > div.wp-alt {
    border-width: 1px 1px 1px 0;
}

div.flightplan > div.wp-msa {
    border-width: 1px 2px 1px 0;
}

div.flightplan > div.wp-et {
    border-width: 1px 2px 1px 0;
}

div.flightplan > div.wp-action {
    border-style: none;
}

div.flightplan > div.leg-type {
    border-width: 0 2px 1px 2px;
}

div.flightplan > div.leg-tt {
    border-width: 0 1px 1px 0;
}

div.flightplan > div.leg-dist {
    border-width: 0 2px 1px 0;
}

div.flightplan > div.leg-wind-dir {
    border-width: 0 1px 1px 0;
}

div.flightplan > div.leg-wind-vel {
    border-width: 0 2px 1px 0;
}

div.flightplan > div.leg-alt {
    border-width: 0 1px 1px 0;
}

div.flightplan > div.leg-msa {
    border-width: 0 2px 1px 0;
}

div.flightplan > div.leg-et {
    border-width: 0 2px 1px 0;
}

div.flightplan > div.leg-action {
    border-style: none;
}

div.flightplan > div.note-pre {
    border-width: 0 0 0 2px;
    /*grid-column-start: 1;*/
    /*grid-column-end: 3;*/
}

div.flightplan > div.note-insert {
    border-width: 0 2px 0 0;
    grid-column-start: 2;
    grid-column-end: 9;
}

div.flightplan > div.note-time {
    border-width: 1px 1px 1px 1px;
}

div.flightplan > div.note-note {
    border-width: 1px 1px 1px 0;
    grid-column-start: 3;
    grid-column-end: 7;
}

div.flightplan > div.note-number {
    border-width: 1px 1px 1px 0;
}

div.flightplan > div.note-post {
    border-width: 0 2px 0 0;
    grid-column-start: 8;
    grid-column-end: 9;
}

div.flightplan > div.note-action {
    border-style: none;
}

div.flightplan > div.last {
    border-bottom-width: 2px;
}

div.print-info {
    margin-top: 20px;
}

div.calculate-button {
    margin-top: 20px;
}

canvas.test-canvas {
}

span.page {
    margin-left: 10px;
    cursor: default;
}

span.page.selected {
    border-style: solid;
    border-width: 0 0 1px 0;
}

div.logbook {
    display: grid;
    grid-template-columns: 75px 50px 50px 50px 50px 50px 100px 75px 50px 50px 50px 50px 200px;
    margin-top: 20px;
}

div.logbook input {
    width: 100%;
    border-style: none;
    outline: none;
}

div.logbook > div {
    border-style: solid;
    height: 21px;
}

div.logbook > div.date-header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    border-width: 2px 2px 1px 2px;
    height: 55px;
}

div.logbook > div.departure-header {
    grid-column-start: 2;
    grid-column-end: 4;
    border-width: 2px 2px 1px 0;
    height: 36px;
}

div.logbook > div.arrival-header {
    grid-column-start: 4;
    grid-column-end: 6;
    border-width: 2px 2px 1px 0;
    height: 36px;
}

div.logbook > div.aircraft-header {
    grid-column-start: 6;
    grid-column-end: 8;
    border-width: 2px 2px 1px 0;
    height: 36px;
}

div.logbook > div.total-time-header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 9;
    border-width: 2px 2px 1px 0;
    height: 55px;
}

div.logbook > div.landings-header {
    grid-column-start: 9;
    grid-column-end: 11;
    border-width: 2px 2px 1px 0;
    height: 36px;
}

div.logbook > div.function-time-header {
    grid-column-start: 11;
    grid-column-end: 13;
    border-width: 2px 2px 1px 0;
    height: 36px;
}

div.logbook > div.dep-place-header {
    border-width: 0 1px 1px 0;
    height: 18px;
}

div.logbook > div.dep-time-header {
    border-width: 0 2px 1px 0;
    height: 18px;
}

div.logbook > div.arr-place-header {
    border-width: 0 1px 1px 0;
    height: 18px;
}

div.logbook > div.arr-time-header {
    border-width: 0 2px 1px 0;
    height: 18px;
}

div.logbook > div.model-header {
    border-width: 0 1px 1px 0;
    height: 18px;
}

div.logbook > div.registration-header {
    border-width: 0 2px 1px 0;
    height: 18px;
}

div.logbook > div.landings-day-header {
    border-width: 0 2px 1px 0;
    height: 18px;
}

div.logbook > div.landings-night-header {
    border-width: 0 2px 1px 0;
    height: 18px;
}

div.logbook > div.pic-time-header {
    border-width: 0 1px 1px 0;
    height: 18px;
}

div.logbook > div.dual-time-header {
    border-width: 0 2px 1px 0;
    height: 18px;
}

div.logbook > div.action-header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 13;
    grid-column-end: 14;
    border-style: none;
    height: 55px;
}


div.logbook > div.date {
    border-width: 0 2px 1px 2px;
}

div.logbook > div.dep-place {
    border-width: 0 1px 1px 0;
}

div.logbook > div.dep-time {
    border-width: 0 2px 1px 0;
}

div.logbook > div.arr-place {
    border-width: 0 1px 1px 0;
}

div.logbook > div.arr-time {
    border-width: 0 2px 1px 0;
}

div.logbook > div.model {
    border-width: 0 1px 1px 0;
}

div.logbook > div.registration {
    border-width: 0 2px 1px 0;
}

div.logbook > div.total-time {
    border-width: 0 2px 1px 0;
}

div.logbook > div.landings-day {
    border-width: 0 2px 1px 0;
}

div.logbook > div.landings-night {
    border-width: 0 2px 1px 0;
}

div.logbook > div.pic-time {
    border-width: 0 1px 1px 0;
}

div.logbook > div.dual-time {
    border-width: 0 2px 1px 0;
}

div.logbook > div.action {
    border-style: none;
}

div.logbook > div.total-this-blank {
    grid-column-start: 1;
    grid-column-end: 6;
    border-width: 0 2px 0 2px;
    height: 38px;
}

div.logbook > div.total-this-header {
    grid-column-start: 6;
    grid-column-end: 8;
    border-width: 1px 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-this-total-time {
    border-width: 1px 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-this-landings-day {
    border-width: 1px 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-this-landings-night {
    border-width: 1px 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-this-pic-time {
    border-width: 1px 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-this-dual-time {
    border-width: 1px 2px 1px 0;
    height: 36px;
}

div.logbook > div.total-prev-blank {
    grid-column-start: 1;
    grid-column-end: 6;
    border-width: 0 2px 0 2px;
    height: 37px;
}

div.logbook > div.total-prev-header {
    grid-column-start: 6;
    grid-column-end: 8;
    border-width: 0 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-prev-total-time {
    border-width: 0 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-prev-landings-day {
    border-width: 0 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-prev-landings-night {
    border-width: 0 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-prev-pic-time {
    border-width: 0 1px 1px 0;
    height: 36px;
}

div.logbook > div.total-prev-dual-time {
    border-width: 0 2px 1px 0;
    height: 36px;
}

div.logbook > div.total-grand-blank {
    grid-column-start: 1;
    grid-column-end: 6;
    border-width: 0 2px 2px 2px;
    height: 36px;
}

div.logbook > div.total-grand-header {
    grid-column-start: 6;
    grid-column-end: 8;
    border-width: 0 1px 2px 0;
    height: 36px;
}

div.logbook > div.total-grand-total-time {
    border-width: 0 1px 2px 0;
    height: 36px;
}

div.logbook > div.total-grand-landings-day {
    border-width: 0 1px 2px 0;
    height: 36px;
}

div.logbook > div.total-grand-landings-night {
    border-width: 0 1px 2px 0;
    height: 36px;
}

div.logbook > div.total-grand-pic-time {
    border-width: 0 1px 2px 0;
    height: 36px;
}

div.logbook > div.total-grand-dual-time {
    border-width: 0 2px 2px 0;
    height: 36px;
}

div.pages {
    margin-top: 20px;
}